:root {
    --main-color: #552583;
    font-size: 25px;
    box-sizing: border-box;
  }
  body {
    font-size: 16px;
    
  }
 
  
  .main {
    width: 90%;
    max-width: 680px;
    margin: 20px auto;
  }
  
  .main label {
    /* display: none; */
    /* visibility: hidden; */
    opacity: 0;
  }
  
  #nombre {
    display: block;
    display: inline-block;
  }
  
  .navbar {
    background-color: var(--main-color);
  }
  
  .primary {
    color: var(--main-color);
  }
  
  /* navbar */
  .navbar {
    background-color: var(--main-color);
    color: #FFF;
  }
  
  .navbar a.link {
    display: none;
  }
  
  @media screen and (min-width: 546px) {
    /* CSS de ancho > 546px */
    .navbar a.link {
      display: inline-block;
      color: #FFF;
    }
  }
  
  @media screen and (min-width: 746px) {
    /* CSS de ancho > 546px */
    .navbar a.link {
      text-decoration: underline;
    }
  }
  
  @media print {
    .navbar a.link {
      display: inline-block;
      color: red;
    }
    .footer {
      display: none;
    }
  }
  .PlayerSummary_playerImage__sysif {
    width:30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
}
  .TeamHeader_teamLogoBW__s7vYd{ 
  height: 50px;
  width: 50px;
  opacity: 1;
  padding-left: 0px;
  } 
  .list .list-item .button  {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #b9c1b9;
  }  
  .list .list-item .button:hover {
    background-color: #4CAF50;
    color: gold;
  }
